.header {
	background-color: $black;
}

.footer-top {
	background-color: $darkGray;
	color: $white;
    padding-bottom: 87px;
    padding-top:104px;
    margin-top:20px;
	
	h2 {
		color: $turquoise;
	}
}

.footer-bottom {
	background-color: $black;
    padding-top: 17px;
    padding-bottom:76px;
}

.message {
	background: $turquoise;
	h2 {
		color: $white;
	}
}

.lead {
	color: $turquoise;
	text-transform: capitalize;
}

.contentbox {
    @include contentbox-style (transparent, $gray);
    margin-bottom:103px;
    h2 {
        margin-bottom: 23px;
        text-align: left;
    }
    p {
        margin-bottom: 15px;    
    }
    a, .fa {
        color: $turquoise;
        margin-bottom: 80px;
    }
}

.contentbox-var1 {
  border-bottom: 5px solid lighten($turquoise, 20%);
  margin-top: 16px;
  margin-bottom: 16px;
}

.vertical-middle {
    position: absolute;
    left: 50%;
    top: .5em;
}

@media (max-width: 768px) {
	.vertical-middle {
		position: static;
	}
}

@media (max-width: 992px) {
	.vertical-middle {
		left: 20%;
	}
}

@media (max-width: 1200px) {
	.vertical-middle {
		left: 20%;
	}
}
.message {
  @include contentbox-style($turquoise, $white);
  padding-top:50px;        
  padding-bottom:95px ;
}

.image-break {
    background: #fff url(../images/paper-texture.jpg) repeat-x;
    height: 38px;
    margin-bottom: 70px;
}

.titlebox {
    @include contentbox-style($turquoise, $white);
    padding: 10px;
    em {
        color: $black;
    }
}

// Creates the pointy bit
.titlebox:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 44%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: $turquoise transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.clients {  
  padding-bottom: 135px;
}

.breadcrumb {
  margin-top: 60px;
  margin-bottom: 36px;
}

// Services page    
.price-list {
  border: 1px solid $lightGray;
  border-bottom: 7px solid $lightGray;
  margin-bottom: -10px;    
    
    li {
        color: $black;
        padding: 20px;
        border-bottom: 1px dotted $lightGray;
        font-weight: bold;
    }

    .price {
        font-size: 26px;
        border-bottom: 1px dotted $lightGray;
        margin-top: 0;
    }
    
    .info {
        font-weight: normal;
        font-size: 13px;
        color: $gray;
    }
}

.btn-price {
  @include contentbox-style($turquoise, $white);
  border-bottom: 5px solid darken($turquoise, 20%);
}

.article-date {
    @include contentbox-style($black, $turquoise);
    padding: 10px;
    
	h2 {
        font-size: 19px;
        margin: 0;
    }
    
    h3 {
        color: $white;
        margin: 0;
    }
}

.sidebar-links {
    li {
        padding: 5px 0 5px 0;
    }
    a {
        color: $turquoise;
        text-decoration: none;
    }
}

// Update to Bootstrap class
.form-control {
    background-color: $lightGray;
    margin-bottom: 10px;
}

// Update to Bootstrap class
.btn-primary {
    background-color: $black;
    border-color: $black;
    &:hover {
        background-color: $darkGray;
    }
}

.map {
  height: 270px;

  iframe {
    background-color: transparent;
    border: medium none;
    height: inherit;
    overflow: hidden;
    width: 100%;
  }
}

.project {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  a {
    @include contentbox-style($turquoise, $white);
	text-align: center;
    text-transform: uppercase;
	font-weight: bold;
    opacity: 0;
    position: absolute;
	top: 0;
	left: 0;
	bottom: -200px;
    right: 0;
    z-index: 100;
	display: table-cell;
	vertical-align: middle;
  }
  a:hover {
    bottom: 0;
    opacity: .9;
    transition: opacity 0.3s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25,0.5,0,1) 0s;
  }
}

.project-title {
	display: table;
	width: 100%;
	height: 90%;
	span {
      vertical-align: middle;
      display: table-cell;
	}
}

.price-plan:hover {
  -moz-box-shadow: 0 0 20px $gray;
  -webkit-box-shadow: 0 0 20px $gray;
  box-shadow: 0 0 20px $gray;
}
.price-plan:hover .titlebox {
  background-color: $black;
  &:after {
    border-color: $black transparent;
  }
}
.space {
    margin-bottom: 50px;
}

