.header {
	background-color: $black;
}

.footer-top {
	background-color: $darkGray;
	color: $white;
	
	h2 {
		color: $turquoise;
	}
}

.footer-bottom {
	background-color: $black;
}

.message {
	background: $turquoise;
	h2 {
		color: $white;
	}
}

.lead {
	color: $turquoise;
	text-transform: capitalize;
}

.contentbox {
    @include contentbox-style (transparent, $gray);
    
    h2 {
        margin-bottom: measure;
    }
    p {
        margin-bottom: measure;    
    }
    a, .fa {
        color: $turquoise;
    }
}

.contentbox-var1 {
  border-bottom: 5px solid lighten($turquoise, 20%);
  margin-top: 16px;
  margin-bottom: 16px;
}

.vertical-middle {
    position: absolute;
    left: 50%;
    top: .5em;
}

@media (max-width: 768px) {
	.vertical-middle {
		position: static;
	}
}

.message {
  @include contentbox-style($turquoise, $white);
  padding-bottom: measure;        
  padding-bottom: measure;
}

.image-break {
    background: #fff url(../images/paper-texture.jpg) repeat-x;
    height: measure;
}

.titlebox {
    @include contentbox-style($turquoise, $white);
    padding: 10px;
    em {
        color: $black;
    }
}

// Creates the pointy bit
.titlebox:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 44%;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: $turquoise transparent;
    display: block;
    width: 0;
    z-index: 1;
}

.clients {
  padding-top: 59px;  
  padding-bottom: 135px;
}

.breadcrumb {
  margin-top: 60px;
  margin-bottom: 36px;
}

// Services page    
.pricing-table {
  border: 1px solid $lightGray;
  border-bottom: 7px solid $lightGray;
  margin-bottom: -10px;    
  margin-bottom: 40px;
    
    li {
        color: $black;
        padding: 20px;
        border-bottom: 1px dotted $lightGray;
        font-weight: bold;
    }

    .price {
        font-size: 26px;
        border-bottom: 1px dotted $lightGray;
        margin-top: 0;
    }
    
    .info {
        font-weight: normal;
        font-size: 13px;
        color: $gray;
    }
}

.btn-price {
  @include contentbox-style($turquoise, $white);
  border-bottom: 5px solid darken($turquoise, 20%);
}

.article-date {
    @include contentbox-style($black, $turquoise);
    padding: 10px;
    
	h2 {
        font-size: 19px;
        margin: 0;
    }
    
    h3 {
        color: $white;
        margin: 0;
    }
}

.sidebar-links {
    li {
        padding: 5px 0 5px 0;
    }
    a {
        color: $turquoise;
        text-decoration: none;
    }
}

// Update to Bootstrap class
.form-control {
    background-color: $lightGray;
    margin-bottom: 10px;
}

// Update to Bootstrap class
.btn-primary {
    background-color: $black;
    border-color: $black;
    &:hover {
        background-color: $darkGray;
    }
}

.map {
  height: 270px;

  iframe {
    background-color: transparent;
    border: medium none;
    height: inherit;
    overflow: hidden;
    width: 100%;
  }
}




