$white: #fff;
$black:#000 ;
$turquoise:#84ccd3 ;
$gray:gray ; // paragraph text
$darkGray:lightgray ; // headings, footer top background color
$lightGray:#666 ; // form input fields




// Typography
$baseFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif; 
$baseFontSize: 15px; // measure
$baseLineHeight: inherit;

$headingsFontFamily: "Lato", sans-serif;

$h1FontSize: 3.6em ; // measure 15px = 1em
$h1FontWeight: 100;

$h2FontSize: 2.1333333333em ; // measure
$h2FontWeight: 300;


$h3FontSize: 1.46666666666667em; // measure
