<section>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Contact</li>
        </ol>
    </div>
</section>

<section>
    <div class="container">
        <h2>Get In Touch</h2>
        <p class="lead">We Would Love To Hear From You</p>
        <p>Paragraph. Lorem ipsum dolor sit amet,
            <strong>consectetur</strong>adipisicing elit. Natus quis doloremque asperiores sunt non provident nostrum. Maiores ipsam ea non perspiciatis facilis tempore atque harum esse excepturi temporibus vitae dolorem.</p>
        <p>
            <a href="#">More</a>
        </p>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <form action="#">
                <div class = "col-sm-4">
                    <input type="text" placeholder="Your name" class="form-control" required>
                    <input type="email" placeholder="Your email" required>
                    <input type="text" placeholder="Subject" required>
                </div>
                
                <div class = "col-sm-8">
                    <textarea name="" id="" cols="30" rows="10" placeholder="The message you want to send to me" required></textarea>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6306.2208324352705!2d-122.40511602809447!3d37.78745204596947!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1393999444004" frameborder="0"></iframe>
</section>