<section>
    <div class="container">
	   <img src="http://placehold.it/1900x520" alt="Placeholder image" class="img-responsive">
    </div>
</section>

<section>
    <div class="container">
        <h3><b>LOREM IPSUM DOLR</b> - Curabitur sit amet, consectetur adipisicing elit.</h3>
    </div>
</section>

<section class = "well">
    <div class="container">
        <div class = "row">
            <div class="col-sm-3">
                <i class="fa fa-thumbs-o-up fa-2x"></i>
                <h3>Built w/ Bootstrap</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            
            <div class="col-sm-3">
                <i class="fa fa-flag fa-2x"></i> 
                <h3>Over 249 Icons</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            
            <div class="col-sm-3">
                <i class="fa fa-mobile fa-2x"></i> 
                <h3>Mobile Responsive</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            
            <div class="col-sm-3">
                <i class="fa fa-file-text-o fa-2x"></i> 
                <h3>Easy To Customize</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
            </div>
        </div>
    </div>
</section>

<section class = "message">
    <div class="container">
	   <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h3>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <h3>Our Clients</h3>
                <div class="col-sm-2">
                    <img src="images/clients1.png" alt="Client1">
                </div>
                <div class="col-sm-2">
                    <img src="images/clients2.png" alt="Client2">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients3.png" alt="Client3">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients4.png" alt="Client4">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients1.png" alt="Client1">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients2.png" alt="Client2">
                </div>
        </div>
    </div>
</section>