<section>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Portfolio</li>
        </ol>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
                <h2>Portfolio</h2>
             <div class = "col-sm-4">
                <img src="images/portfolio1.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>
            
            <div class = "col-sm-4">
                <img src="images/portfolio2.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>

            <div class = "col-sm-4">
                <img src="images/portfolio3.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-sm-4">
                <img src="images/portfolio1.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>
            <div class = "col-sm-4">
                <img src="images/portfolio2.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>
            <div class = "col-sm-4">
                <img src="images/portfolio3.jpg" alt="Portfolio example" class="img-responsive">
                <a href="#">Project Title</a>
            </div>
        </div>
    </div>
</section>

<section class = "message">
    <div class="container">
	   <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h2>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <h2>Our Clients</h2>
                <div class="col-sm-2">
                    <img src="images/clients1.png" alt="Client1">
                </div>
                <div class="col-sm-2">
                    <img src="images/clients2.png" alt="Client2">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients3.png" alt="Client3">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients4.png" alt="Client4">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients1.png" alt="Client1">
                </div>

                <div class="col-sm-2">
                    <img src="images/clients2.png" alt="Client2">
                </div>
        </div>
    </div>
</section>