<section>
    <div class="container">
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Services</li>
        </ol>
    </div>
</section>

<section >
    <div class="container">
        <h2>Our Services</h2>
        <p class="lead">Learn About What We Do</p>
        <p>Paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quis doloremque asperiores sunt non provident nostrum. Maiores ipsam ea non perspiciatis facilis tempore atque harum esse excepturi temporibus vitae dolorem.</p>
        <p>
            <a href="#">More</a>
        </p>
    </div>
</section>

<section>
    <div class="container">
        <div class = "row">
            <div class = "col-sm-6">
               <div class="contentbox">
                     <div class="col-sm-2">
                         <i class="fa fa-thumbs-up fa-4x vertical-middle"></i> 
                     </div>
                     <div class="col-sm-10">
                         <h2>Built w/ Bootstrap</h2>
                         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                </div>
             </div>
            
            <div class = "col-sm-6">
                <div class="contentbox">
                   <div class="col-sm-2">
                        <i class="fa fa-flag fa-4x vertical-middle"></i>
                   </div>
                   <div class="col-sm-10">
                        <h2>Over 249 Icons</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class = "row">
            <div class = "col-sm-6">
                <div class="contentbox">
                   <div class="col-sm-2">
                        <i class="fa fa-mobile fa-4x vertical-middle"></i>
                   </div> 
                   <div class="col-sm-10">
                        <h2>Mobile Responsive</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                   </div>
                </div>
            </div>
            
            <div class = "col-sm-6">
                <div class="contentbox">
                    <div class="col-sm-2">
                       <i class="fa fa-file-text-o fa-4x vertical-middle"></i>
                    </div>
                    <div class="col-sm-10">
                        <h2>Easy To Customize</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="message">
    <div class="container">
	   <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis debitis magnam sit minus tempora maiores fugiat quas eos aperiam enim iure pariatur placeat amet dignissimos est nesciunt dolores laborum nostrum.</h2>
    </div>
</section>
<div class="image-break"></div>

<section>
    <div class="container">
        <div class = "row">
            <div class = "col-sm-4">
                <div class="contentbox">
                    <h2 class="titlebox">Basic</h2>
                    <ul class="list-unstyled price-list">
                        <li class="price">$99<span>/month</span>
                        </li>
                        <li class="info">2 row section for you package information. You can include all details or icons</li>
                        <li>Up To 25 Projects</li>
                        <li>10GB Storage</li>
                        <li>Other info</li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                    
                        <li>
                            <a href="#" class="btn-price">SIGN UP NOW!</a>
                        </li>
                    </ul>
                </div>
            </div> 
            
            <div class = "col-sm-4">
                <div class="contentbox">
                    <h2 class="titlebox">Popular</h2>
                    <ul class="list-unstyled price-list">
                        <li class="price">$129<span>/month</span>
                        </li>
                        <li class="info">2 row section for you package information. You can include all details or icons</li>
                        <li>Up To 25 Projects</li>
                        <li>10GB Storage</li>
                        <li>Other info</li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                    
                        <li>
                            <a href="#" class="btn-price">SIGN UP NOW!</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            
            <div class = "col-sm-4">
                <div class="contentbox">
                    <h2 class="titlebox">Advanced</h2>
                    <ul class="list-unstyled price-list">
                        <li class="price">$299<span>/month</span>
                        </li>
                        <li class="info">2 row section for you package information. You can include all details or icons</li>
                        <li>Up To 25 Projects</li>
                        <li>10GB Storage</li>
                        <li>Other info</li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-ellipsis-h fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                        <li><i class="fa fa-check fa-lg"></i></li>
                    
                        <li>
                            <a href="#" class="btn-price">SIGN UP NOW!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>